// Colors
$brand-primary-color: #26a9bd;
$accent-color: #fc8b5f;
$white-shade: #ffffff;
$dividers-buttons: #1a1b1b;
$title-grey:#525252;
$text-grey: #707070;
$background-grey: #f2f2f2;
$background-dark: #191919;

// Sizes
$header-height: 100px;